<div class="text-3xl font-bold">
  New Resource
</div>

<%= fgh_form(model: @recording.becomes(Recording)) do |f| %>
  <div class="p-2 bg-gray-200 rounded">
    <input type="hidden" name="recording[type]" value="Resource">

    <%= f.fancy_text_field :name, 'Resource Name', 
      icon: :signature,
      autofocus: true
    %>

    <%= f.fancy_text_field :tag_list, 'Tags',
      class: 'mt-2',
      icon: :tags,
      footnote: 'suggested: graphics, tileset, etc (split on commas)'
    %>
  </div>

  <div class="mt-2">
    <%= f.submit 'Get Creating' %>
  </div>
<% end %>