<div class="text-3xl font-bold">
  Frequently Asked
</div>
<%# TODO %>
<div class="border-2 rounded p-2">
  <p class="mb-2">
    <h2 class="text-2xl font-bold">
      Wot's this then?
    </h2>


  </p>

  <p class="mb-2">
    <h2 class="text-2xl font-bold">
      Where are the threads?
    </h2>
    Though the site has some similarities to traditional forums, there is no thread structure. Instead, you create one of three types of content: Games, Tutorials, or Resources.
  </p>

  <p class="mb-2">

  </p>
</div>