<div class="text-3xl font-bold">
  # TODO
</div>

<div class="font-semibold text-gray-700">
  Fangame Hacktory is in very early alpha. If a feature is missing, it may be on one of these lists.
</div>

<div class="mt-4 p-2 border-2 rounded">
  <div class="font-bold">
    Mostly Completed
  </div>

  <ul class="list-disc ml-6">
    <li>User accounts with basic customization</li>
    <li>Create games, tutorials, and resources (hereafter collectively known as "recordings")</li>
    <li>Allow customizing of recording content by the author</li>
    <li>Support user mentions</li>
  </ul>
</div>

<div class="mt-2 p-2 border-2 rounded">
  <div class="font-bold">
    Partially Completed / Not Implemented
  </div>

  <ul class="list-disc ml-6">
    <li>Allow adding reactions to recordings, discord-style</li>
    <li>Allow commenting on recordings</li>
    <li>Allow games to list their pokedexes</li>
    <li>Allow authors to add other users as contributors</li>
    <li>Allow authors/contributors to post updates to recordings</li>
    <li>"Progress bar" feature showing completed game features</li>
  </ul>
</div>

<div class="mt-2 p-2 border-2 rounded">
  <div class="font-bold">
    Gonna Be A While
  </div>

  <ul class="list-disc ml-6">
    <li>Allow automatic linking with Fangame Hacktory discord channels, automatically posting updates there</li>
    <li>Allow comments on discord to automatically be displayed on the site</li>
  </ul>
</div>

<div class="mt-2 p-2 border-2 rounded">
  <div class="font-bold">
    Other Stuff
  </div>
  
  Message me!
</div>