<div class="text-3xl font-bold">
  Fangame Hacktory Rules
</div>

<div class="border-2 rounded p-2">
  <div class="text-lg font-bold">
    In all posts on the site, you should AVOID...
  </div>

  <ul class="list-disc ml-6">
    <li>Being a dick. Swearing is fine, swearing <em>at</em> people is iffy, slurs are a no-go.</li>
    <li>Discriminating. Sexism, racism, homophobia, transphobia and the lot are an instant ban.</li>
    <li>Posting illegal or NSFW content. This ain't the place for that.</li>
    <li>Spamming. It takes a lot to get banned for spam on FGH. Don't be that person.</li>
    <li>Reporting Pory for possession of potenuse. Snitches get stitches.</li>
  </ul>
</div>

<div class="border-2 rounded p-2 mt-2">
  <div class="text-lg font-bold">
    When posting games, tutorials or other resources, you should AVOID...
  </div>

  <ul class="list-disc ml-6">
    <li>Posting content without permission.</li>
    <li>Linking directly to ROM files.</li>
    <li>Posting or linking to games/content with NSFW or discriminatory themes, <span class="italic font-bold">even if such themes are not featured in the posts on FGH</span>. In other words, if your game contains that kinda shit, you can't post it here no matter what.</li> 
  </ul>
</div>

<div class="mt-2">
  <%= link_to 'Cool. Sounds good :)', root_path, class: 'btn btn-primary block width-full text-center' %>
</div>